.Chats_parent{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    
    
}
.Chats_parent .leftpanel{
    background-color: yellowgreen;
    width: 300px;
    display: flex;
 
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
    max-width: 300px;
    
}

.Chats_parent .middlepanel{
    background-color: violet;
    /* flex-grow: 1; */
    border-radius: 20px;
    height: 150px;
    width: 300px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    
}

.title{
margin-left: 20px;
background-color: aqua;
margin-bottom: 20px;
margin-right: 10px;
margin-top: 10px;
border-radius: 20px;
padding-left: 10px;
}

.vehicle{
margin-left: 20px;
background-color: aqua;
margin-bottom: 20px;
margin-right: 10px;
border-radius: 20px;
padding-left: 10px;

}
.issue{
margin-left: 20px;
background-color: aqua;
height: 300px;
margin-right: 10px;
border-radius: 20px;
padding-left: 10px;

}


.Operations{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.Operations .edit{
    width: 20px;
    height: 30px;

}